header.header
    div.inner
        h1.header-logo
            a(href='/')
                img(src='/dist/images/logo.svg')
        button.header-button
            span メニューの展開
        div.global-navigation
            nav.header-navigation
                ul
                    li: a(href='/news/') ニュース
                    li
                        a(href='/') サービス
                            button.panel-button メニューの展開
                        div.navpanel
                            ul.subnav
                                li: a(href='/') 建築・土木事業
                                li: a(href='/') Holostruction事業
                                li: a(href='/') 緑化保全事業
                                li: a(href='/') その他の事業

                    li
                        a(href='/') 導入事例
                            button.panel-button メニューの展開

                        div.navpanel
                            ul.subnav
                                li: a(href='/') 建築・土木
                                li: a(href='/' target='_blank') Holostruction
                                li: a(href='/') その他

                    li
                        a(href='/') 会社情報
                            button.panel-button メニューの展開
                        div.navpanel
                            ul.subnav
                                li: a(href='/') 社是・社長挨拶
                                li: a(href='/') 会社概要
                                li: a(href='/') 事業所・グループ一覧
                                li: a(href='/') SCRレポート

                    li
                        a(href='/') 採用情報
                            button.panel-button メニューの展開

                        div.navpanel
                            ul.subnav
                                li
                                    a(href='/') 社内制度

                            p.subnav-title キャリア採用募集要項
                            ul.subnav
                                li: a(href='/') 2級建築施工管理技士
                                li: a(href='/') 1級建築施工管理
                                li: a(href='/') 2級土木施工管理
                                li: a(href='/') 1級土木施工管理技士

                    li.nallow-none: a(href='/') お問い合わせ

            ul.header-under-navigation
                    li: a(href='/') お問い合わせ
                    li: a(href='/') ISOについて
                    li: a(href='/') ダウンロード
                    li: a(href='/') 個人情報の取り扱いについて

            p.header-phone: a(href='0256-32-0006') 0256-32-0006